@model Trash_Collector.Models.PickupDay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PickupDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PickupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
